# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.cpp text
*.def text
*.cs text
*.py text
*.rb text
*.html text
*.ps1 text

# Explicitly declare files that should not have line endings modified, ever
tests/suite/file_with_BOM.txt -text
tests/suite/file_without_BOM.txt -text

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf
*.sln text eol=crlf
*.csproj text eol=crlf
*.proj text eol=crlf
*.rtf text eol=crlf
*.rbproj text eol=crlf
*.vcxproj text eol=crlf
*.vdproj text eol=crlf

# Declare files that will always have LF line endings on checkout
.gitmodules text eol=lf
*.sh text eol=lf


# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.dll binary
*.pyd binary
*.exe binary
*.bmp binary
*.zip binary
*.pickle binary

# Do not normalize on commit.
*.pdf -text

# Hide certain languages from GitHub Linguist
*.pck linguist-detectable=false
*.c linguist-detectable=false

*.bat linguist-detectable=false
*.cmd linguist-detectable=false
*.ps1 linguist-detectable=false
*.1 linguist-detectable=false
*.2 linguist-detectable=false
*.3 linguist-detectable=false
*.4 linguist-detectable=false

*.html linguist-documentation=true
