<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicLanguageRuntime" version="{0}" IncludePrerelease="true" />
  <package id="NUnitLite" version="1.0.0" developmentDependency="true" />
</packages>
