<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component>
        <File Source="$(var.PlatformDir)\Microsoft.Scripting.dll" />
      </Component>

      <Component>
        <File Source="$(var.PlatformDir)\Microsoft.Dynamic.dll" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Dlr">
      <ComponentRef Id="Microsoft.Scripting.dll" />
      <ComponentRef Id="Microsoft.Dynamic.dll" />
    </ComponentGroup>

  </Fragment>
</Wix>
