<?xml version="1.0" encoding="UTF-8"?>
<?include Version.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">

      <Component>
        <File Source="$(var.PlatformDir)\IronPython.dll" />
      </Component>

      <Component>
        <File Source="$(var.PlatformDir)\IronPython.Modules.dll" />
      </Component>

      <Component>
        <File Source="$(var.PlatformDir)\ipy.exe">
          <netfx:NativeImage Id="ngen_ipy.exe" Platform="all" AppBaseDirectory="INSTALLDIR" />
        </File>
      </Component>
      <Component>
        <File Source="$(var.PlatformDir)\ipy32.exe">
          <netfx:NativeImage Id="ngen_ipy32.exe" Platform="all" AppBaseDirectory="INSTALLDIR" />
        </File>
      </Component>

      <Component>
        <File Source="$(var.PlatformDir)\ipyc.exe">
          <netfx:NativeImage Id="ngen_ipyc.exe" Platform="all" AppBaseDirectory="INSTALLDIR" />
        </File>
      </Component>
      <Component>
        <File Source="$(var.PlatformDir)\IKVM.Reflection.dll" />
      </Component>

      <Component>
        <File Source="$(var.PlatformDir)\ipyw.exe">
          <netfx:NativeImage Id="ngen_ipyw.exe" Platform="all" AppBaseDirectory="INSTALLDIR" />
        </File>
      </Component>
      <Component>
        <File Source="$(var.PlatformDir)\ipyw32.exe">
          <netfx:NativeImage Id="ngen_ipyw32.exe" Platform="all" AppBaseDirectory="INSTALLDIR" />
        </File>
      </Component>

      <Directory Id="IronPython_DLLs" Name="DLLs">
        <Component>
          <File Source="$(var.PlatformDir)\DLLs\IronPython.Wpf.dll" />
        </Component>
        <Component>
          <File Source="$(var.PlatformDir)\DLLs\IronPython.SQLite.dll" />
        </Component>
      </Directory>

      <Component>
        <File Source="$(var.PlatformDir)\System.Buffers.dll" />
      </Component>
      <Component>
        <File Source="$(var.PlatformDir)\System.Memory.dll" />
      </Component>
      <Component>
        <File Source="$(var.PlatformDir)\System.Runtime.CompilerServices.Unsafe.dll" />
      </Component>

      <Component>
        <File Source="LICENSE" />
      </Component>
      <Component>
        <File Source="README.md" />
      </Component>

      <Component>
        <RegistryValue Id="InstallationKey"
          Root="HKLM" Key="SOFTWARE\IronPython\$(var.ReleaseSeries)\InstallPath" Type="string" Value="[INSTALLDIR]" />
      </Component>

      <Component>
        <RegistryValue Id="VSNet45ReferenceAssemblyKey"
          Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\v4.5.50709\AssemblyFoldersEx\$(var.ProductShortName)$(var.ReleaseSeries)" Type="string" Value="[INSTALLDIR]" />
      </Component>

      <Component Id="CommonPythonRegistration">
        <RegistryKey Root="HKLM" Key="Software\Python\IronPython">
          <RegistryValue Name="DisplayName" Type="string" Value="IronPython" />
          <RegistryValue Name="SupportUrl" Type="string" Value="https://ironpython.net/" />
        </RegistryKey>
      </Component>

      <Component Id="PythonRegistration">
        <RegistryKey Root="HKLM" Key="Software\Python\IronPython\$(var.ReleaseSeries)">
          <RegistryValue Name="DisplayName" Type="string" Value="IronPython $(var.ReleaseSeries) (64-bit)" />
          <RegistryValue Name="SupportUrl" Type="string" Value="https://ironpython.net/" />
          <RegistryValue Name="Version" Type="string" Value="$(var.ProductVersionText)" />
          <RegistryValue Name="SysVersion" Type="string" Value="$(var.ReleaseSeries)" />
          <RegistryValue Name="SysArchitecture" Type="string" Value="64bit" />
          <RegistryValue Name="PathEnvironmentVariable" Type="string" Value="IRONPYTHONPATH" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Python\IronPython\$(var.ReleaseSeries)-32">
          <RegistryValue Name="DisplayName" Type="string" Value="IronPython $(var.ReleaseSeries) (32-bit)" />
          <RegistryValue Name="SupportUrl" Type="string" Value="https://ironpython.net/" />
          <RegistryValue Name="Version" Type="string" Value="$(var.ProductVersionText)" />
          <RegistryValue Name="SysVersion" Type="string" Value="$(var.ReleaseSeries)" />
          <RegistryValue Name="SysArchitecture" Type="string" Value="32bit" />
          <RegistryValue Name="PathEnvironmentVariable" Type="string" Value="IRONPYTHONPATH" />
        </RegistryKey>
      </Component>

      <Component Id="PythonPathRegistry">
        <RegistryKey Root="HKLM" Key="Software\Python\IronPython\$(var.ReleaseSeries)">
          <RegistryValue Key="PythonPath" Type="string" Value="[INSTALLDIR]Lib;[INSTALLDIR]DLLs" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Python\IronPython\$(var.ReleaseSeries)-32">
          <RegistryValue Key="PythonPath" Type="string" Value="[INSTALLDIR]Lib;[INSTALLDIR]DLLs" />
        </RegistryKey>
      </Component>

      <Component Id="InstallPathRegistry">
        <RegistryKey Root="HKLM" Key="Software\Python\IronPython\$(var.ReleaseSeries)">
          <RegistryValue Key="InstallPath" Type="string" Value="[INSTALLDIR]" />
          <RegistryValue Key="InstallPath" Name="ExecutablePath" Type="string" Value="[INSTALLDIR]ipy.exe" />
          <RegistryValue Key="InstallPath" Name="WindowedExecutablePath" Type="string" Value="[INSTALLDIR]ipyw.exe" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Python\IronPython\$(var.ReleaseSeries)-32">
          <RegistryValue Key="InstallPath" Type="string" Value="[INSTALLDIR]" />
          <RegistryValue Key="InstallPath" Name="ExecutablePath" Type="string" Value="[INSTALLDIR]ipy32.exe" />
          <RegistryValue Key="InstallPath" Name="WindowedExecutablePath" Type="string" Value="[INSTALLDIR]ipyw32.exe" />
        </RegistryKey>
      </Component>

    </DirectoryRef>

    <ComponentGroup Id="IronPython">
      <ComponentRef Id="IronPython.dll" />
      <ComponentRef Id="IronPython.Modules.dll" />
      <ComponentRef Id="IronPython.Wpf.dll" />
      <ComponentRef Id="IronPython.SQLite.dll" />
      <ComponentRef Id="ipy.exe" />
      <ComponentRef Id="ipy32.exe" />
      <ComponentRef Id="ipyw.exe" />
      <ComponentRef Id="ipyw32.exe" />
      <ComponentRef Id="ipyc.exe" />
      <ComponentRef Id="IKVM.Reflection.dll" />
      <ComponentRef Id="README.md" />
      <ComponentRef Id="System.Buffers.dll" />
      <ComponentRef Id="System.Memory.dll" />
      <ComponentRef Id="System.Runtime.CompilerServices.Unsafe.dll" />
      <ComponentRef Id="LICENSE" />
      <ComponentRef Id="InstallationKey" />
      <ComponentRef Id="VSNet45ReferenceAssemblyKey" />
      <ComponentRef Id="CommonPythonRegistration" />
      <ComponentRef Id="PythonRegistration" />
      <ComponentRef Id="PythonPathRegistry" />
      <ComponentRef Id="InstallPathRegistry" />
    </ComponentGroup>
  </Fragment>
</Wix>
