<!--
  IronPython installer root features, upgrades, and product definition
  2006-01-01 BobArnso Created
-->

<!--
WHEN PERFORMING MAJOR IP UPGRADES (e.g., 2.5 => 2.6):
1. Update the UpgradeCode GUID
2. Check that the IronPython "ARP*" property links are still valid
-->

<?include Version.wxi ?>

<?define UpgradeCode = "664cd4f7-5c34-441e-b3d0-dba395e9414f" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package UpgradeCode="$(var.UpgradeCode)" Name="$(var.ProductShortName) $(var.ProductVersionText)" Version="$(var.ProductVersion)" Language="1033" Manufacturer="$(var.Manufacturer)" InstallerVersion="200" ShortNames="no"><SummaryInformation Description="$(var.ProductShortName) $(var.ProductVersionText) ($(var.ProductVersion))" Manufacturer="$(var.Manufacturer)" />
    <Media Id="1" Cabinet="IronPy.cab" EmbedCab="yes" CompressionLevel="high" />

    <Icon Id="ipy.ico" SourceFile="..\..\Src\IronPythonConsole\ipy.ico" />

    <!-- Major upgrade -->
    <MajorUpgrade AllowSameVersionUpgrades="no" DowngradeErrorMessage="A later version of [ProductName] is already installed." />

    <!-- Normal upgrades -->
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="0.0.0.0" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="yes" Property="OLDERVERSIONBEINGUPGRADED" OnlyDetect="no" />
    </Upgrade>

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED" />

    <!-- Properties -->
    <Property Id="ARPPRODUCTICON" Value="ipy.ico" />
    <Property Id="ARPHELPLINK" Value="https://ironpython.net/support/" />
    <Property Id="ARPURLINFOABOUT" Value="https://ironpython.net" />
    <Property Id="ARPURLUPDATEINFO" Value="https://github.com/IronLanguages/ironpython3" />
    <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />      <!-- Remove repair -->
    <Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />      <!-- Remove modify -->

    <!-- We search for an existing file type for .py files.  If it's found we'll use it, otherwise we'll default to Python.File which matches CPython -->
    <Property Id="PYTHONFILETYPE" Value="Python.File">
      <RegistrySearch Id="PythonFileTypeSearch" Root="HKCR" Key=".py" Type="raw" />
    </Property>

    <!-- Same thing but used to decide if we should install the default info for the file type -->
    <Property Id="PYTHONFILETYPENODEFAULT">
      <RegistrySearch Id="PythonFileTypeNoDefaultSearch" Root="HKCR" Key=".py" Type="raw" />
    </Property>

    <!-- Launch conditions -->
    <Launch Condition="Privileged" Message="An administrator must approve or install [ProductName]." />
    <Launch Condition="Installed OR WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED" Message="[ProductName] requires .NET Framework 4.6.2 or later." />

    <!-- Root directories -->


    <DirectoryRef Id="IronPythonStartMenu">
      <Component Id="IronPythonCommonShortcuts">
        <Shortcut Id="IronPython_Readme" Name="IronPython Readme" Target="[INSTALLDIR]README.md" />
        <Shortcut Id="IronPython_Console" Name="IronPython Console" Target="[INSTALLDIR]ipy.exe" />

        <RegistryValue Root="HKCU" Key="SOFTWARE\IronPython\$(var.ReleaseSeries)" Name="ipy" Type="integer" Value="1" KeyPath="yes" />
        <RemoveFolder Id="IronPythonStartMenu" On="uninstall" />
      </Component>
    </DirectoryRef>

    <!-- Features - listed in the UI in the same order as they appear here -->
    <Feature Id="Feature_IronPython" ConfigurableDirectory="INSTALLDIR" AllowAdvertise="no" Display="expand" Level="1" Title="IronPython" AllowAbsent="no">
      <Feature Id="Feature_Core" AllowAdvertise="no" Display="collapse" Level="1" Title="IronPython" Description="IronPython binaries for the Desktop CLR." AllowAbsent="no">
        <ComponentGroupRef Id="Dlr" />
        <ComponentGroupRef Id="IronPython" />
        <ComponentGroupRef Id="IronPythonStdLib" />

        <ComponentRef Id="IronPythonCommonShortcuts" />
      </Feature>
      <Feature Id="Pip_Setup" AllowAdvertise="no" Display="expand" Level="1" Title="pip" Description="Install or upgrade pip, a tool for installing and managing Python packages" />
    </Feature>



    <!-- User interface -->
    <ui:WixUI Id="WixUI_FeatureTree" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="ironpython.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />

    <!-- InstallLocation key -->
    <CustomAction Id="SetInstallLocation" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" />

    <!-- Install/uninstall pip -->
    <?if $(var.Platform)~="x64" ?>
        <CustomAction Id="UpdatePip" DllEntry="WixQuietExec64" Execute="deferred" Return="ignore" Impersonate="no" BinaryRef="Wix4UtilCA_X86" />
        <CustomAction Id="RemovePip" DllEntry="WixQuietExec64" Execute="deferred" Return="ignore" Impersonate="no" BinaryRef="Wix4UtilCA_X86" />
    <?else?>
        <CustomAction Id="UpdatePip" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no" BinaryRef="Wix4UtilCA_X86" />
        <CustomAction Id="RemovePip" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no" BinaryRef="Wix4UtilCA_X86" />
    <?endif?>

    <SetProperty Id="UpdatePip" Value="&quot;[#ipy.exe]&quot; -E -s -m ensurepip -U --default-pip" Before="UpdatePip" Sequence="execute" />
    <SetProperty Id="RemovePip" Value="&quot;[#ipy.exe]&quot; -E -s -B -m ensurepip._uninstall" Before="RemovePip" Sequence="execute" />

    <!-- Sequences -->
    <InstallExecuteSequence>
      <Custom Action="SetInstallLocation" After="InstallValidate" />
      <Custom Action="UpdatePip" After="InstallFiles" Condition="(&amp;Pip_Setup=3) AND NOT Installed" />
      <Custom Action="RemovePip" Before="RemoveFiles" Condition="(!Pip_Setup&lt;&gt;2) AND Installed" />
    </InstallExecuteSequence>


      <StandardDirectory Id="ProgramMenuFolder">
        <Directory Id="IronPythonStartMenu" Name="$(var.ProductShortName) $(var.ReleaseSeries)" />
      </StandardDirectory>

      <StandardDirectory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="$(var.ProductShortName) $(var.ReleaseSeries)" />
      </StandardDirectory>

      <Directory Id="GAC" Name="GAC" />
    </Package>

</Wix>
