Package: ironpython3
Version: {xxx}
Priority: optional
Architecture: all
Depends: mono-runtime (>=5.12), libmono-posix4.0-cil (>=5.12)
Section: python
Description: Implementation of the Python 3.4 language 
 on the .NET Framework (IRON -> Implementation Runs on .NET). 
