<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component>
        <File Id="Microsoft.Scripting.dll" Source="$(var.PlatformDir)\Microsoft.Scripting.dll" />
      </Component>

      <Component>
        <File Id="Microsoft.Dynamic.dll" Source="$(var.PlatformDir)\Microsoft.Dynamic.dll" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Dlr">
      <ComponentRef Id="Microsoft.Scripting.dll" />
      <ComponentRef Id="Microsoft.Dynamic.dll" />
    </ComponentGroup>

  </Fragment>
</Wix>
