<configuration>
   <runtime>
     <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       <dependentAssembly>
         <assemblyIdentity name="IronPython.Modules"
                           publicKeyToken="7f709c5b713576e1"
                           culture="neutral" />
         <bindingRedirect oldVersion="2.7.0.40"
                          newVersion="2.7.5.0"/>
       </dependentAssembly>
     </assemblyBinding>
   </runtime>
</configuration>
