name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
    - name: Install tools
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt-get -yq install mono-vbnc dos2unix
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Setup .NET Core 2.1
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '2.1.x'
    - name: Setup .NET Core 3.1
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.x'
    - name: Setup .NET 5.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.100-rc.1.20452.10'
    - name: Set Mono Version
      if: matrix.os == 'macos-latest'
      run: echo ::add-path::/Library/Frameworks/Mono.framework/Versions/6.4.0/bin
    - name: Version Information
      run: |
        dotnet --info
        try { mono --version } catch { }
      shell: pwsh
    - name: Build
      run: pwsh make.ps1
    - name: Package
      run: pwsh make.ps1 package
    - uses: actions/upload-artifact@v2
      with:
        name: packages
        path: Package/Release/Packages
    - name: Test (net46)
      run: ./make.ps1 -frameworks net46 test-all
      shell: pwsh
    - name: Test (netcoreapp2.1)
      run: ./make.ps1 -frameworks netcoreapp2.1 test-all
      shell: pwsh
    - name: Test (netcoreapp3.1)
      run: ./make.ps1 -frameworks netcoreapp3.1 test-all
      shell: pwsh
